body{
    background-color: #202124;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color: rgb(126, 115, 115);
}

button {
background-color: green;
color: whitesmoke;
}

input{
    size: 25em;
color: black;
display: block;
}

textarea{
    color: black;
    display: block;
    white-space: pre-wrap;
}